@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.crop {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.green_box {
    border-radius: 30px;
    border: 6px solid #3DB432;
    background: #E5F7E3;
    padding: 30px;
    margin: 100px;
    width: 500px;
    height: 250px;
    font-family: 'BMEULJIRO';
}

.content {
    float: right;
    text-align: center;
    margin-right: 15px;
    margin-top: 50px;
}

#name {
    font-size: 1.8rem;
    font-weight: 3;
}

#address {
    font-size: 1.6rem;
    color: #009946;
    font-weight: 3;
}