.nav_text {
    color: #3CB432;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 2.4rem;
}

.menu_container {
    padding: 40px;
}

.srs {
    width: 170px;
    height: 50px;
    float: left;
    padding: 40px;
    margin-left: 40px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

@media screen and (min-width: 1640px) {
    #menu {
        padding: 80px;
    }
}

@media screen and (min-width: 1110px) and (max-width: 1640px) {
    #menu {
        padding: 70px;
    }
}

@media screen and (min-width: 730px) and (max-width: 1110px) {
    #menu {
        padding: 50px;
    }
}

@media screen and (max-width: 730px) {
    #menu {
        padding: 20px;
    }
}